.smsv-phone-number-container {
  width: 100%;
  height: 60px;
  .smsv-phone-number-error-input {
    input {
      background-color: #fff;
      border-color: #f5222d;
    }
  }
  .smsv-phone-number-error-tips {
    color: #f5222d;
    clear: both;
    min-height: 22px;
    margin-top: 2px;
    font-size: 14px;
    line-height: 1.5;
  }
}
