.smsv-agreement-container {
  font-size: 13px;

  .smsv-agreement-checkbox {
    margin-right: 5px;
    .ant-checkbox-inner {
      width: 13px;
      height: 13px;
      &::after {
        transform: rotate(45deg) scale(0.8) translate(-70%, -50%);
      }
    }
    .ant-checkbox-checked::after {
      width: 13px;
      height: 13px;
    }
  }

  .smsv-agreement-pretext {
    color: #999;
    margin-right: 5px;
    cursor: pointer;
  }

  .smsv-agreement-text {
    color: #1172b8;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5px;
  }
}
